/*                                  Boilerplate Code                                */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0e;
    color: #b4ee21;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.main_website_global_content {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar {
    width: 10px;
}

/* BACKGROUND of scrollbar */
::-webkit-scrollbar-track {
    background: transparent;
}

/* THUMB (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #b3cc70;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #a0b95e;
}

/* On hover */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {

    text-decoration: none;
    color: inherit;
}

a.visited {

    text-decoration: none;
    color: inherit;
}

/* Body inner class ^ property vise css*/
/*     Global Property Vise Css   */

.justify_space_between {
    display: flex;
    justify-content: space-between;
}

.justify_space_around {
    display: flex;
    justify-content: space-around;
}

/*     Global  Class Css     */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 1920px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

.column {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

hr {
    margin: 0px;
    border: 1px solid #b4ee21;

}

/*New Font Type */
@font-face {
    font-family: 'Gamming_1';
    src: url('../my_fonts/SummerFavourite-ARLr6.ttf') format('truetype');
}

@font-face {
    font-family: 'Gamming_2';
    src: url('../my_fonts/bruce-forever-font/BruceForeverRegular-X3jd2.ttf') format('truetype');
}

@font-face {
    font-family: 'Gamming_3';
    src: url('../my_fonts/steelar-font/Steelar-j9Vnj.otf') format('truetype');
    font-weight: 100;
}

@media (max-width: 480px) {
    body {
        overflow: scroll;
    }

    .container,
    .row {
        max-width: 480px;
    }
}

/*======================================================================= Main HEader Css (Default Css) ======================================== */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #5e6251;
    display: none;
}

.header_main_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_main_row li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.main_header_obj_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px 20px 100px;
    padding: 0;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.2rem;
}

.header_obj {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
    font-family: Candara, sans-serif;
    font-size: 0.65rem;
}

.virtual_header_animation_line {
    display: flex;
    width: 600px;
    flex-direction: row;
    border: 1.5px solid #b4ee21;
}

.icon_container_ch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.header_container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_container_ch {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*  ======================================================================== Main Index My Name =============================================  */
.main_content_m_name_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.My_name_index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}

@media (max-width:480px) {
    .main_content_m_name_container {
        max-width: 480px;
        justify-content: center;
    }

    .My_name_index {
        font-size: 1.5rem;
        font-weight: 100;
        justify-content: center;
    }
}

/*========================================================== My Main Biodata ================================================================== */

.main_bio_data_panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 100px 0 100px 0;
    padding: 0;
}

.bio_data_typer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 90px;
    font-family: Candara Light;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;

}

.My_Photo img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    padding: 0;
}

.my_bio_data {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0;
    padding: 0;
}

@media (max-width:480px) {}

/* ==================================================== Linkdin Pulse =================================================================*/

.pulse_main_typer {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel {
    display: flex;
    margin-top: 190px;
}

@keyframes pulsate {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


.pulse-base {
    position: relative;
    height: 60px;
    width: 60px;
    border: 0px solid #222;
    border-radius: 50%;
    margin: 0 auto;
}

.pulse-base_1 {
    position: relative;
    height: 50px;
    width: 50px;
    border: 0px solid #222;
    border-radius: 50%;
    margin: 0 auto;
}

.pulse-base_2 {
    position: relative;
    height: 40px;
    width: 40px;
    border: 0px solid #222;
    border-radius: 50%;
    margin: 0 auto;
}

.pulse-base:before {
    content: '';
    border: 5px solid rgba(181, 237, 50, 0.916);
    border-radius: 50%;
    height: 600px;
    width: 600px;
    position: absolute;
    left: -15px;
    bottom: -15px;
    animation: pulsate 2.6s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 99;
}

.pulse-base_1:before {
    content: '';
    border: 1px solid rgba(181, 237, 50, 0.916);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: absolute;
    left: 35px;
    bottom: 31px;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 99;
}

.pulse-base_2:before {
    content: '';
    border: 1.5px solid rgba(181, 237, 50, 0.916);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 120px;
    bottom: 120px;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 99;
}

/*Just A ONE CONTAINER*/
.circle_ai {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle_ai_content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0e;
    border-radius: 100%;
    left: 195px;
    bottom: 150px;
}


/* ==================================================== AOS Library Duration Change from default ===========================================*/
.Skills_discribtion.aos-animate {
    animation: tracking-in-contract-bck 3s;
}

.my_svg.aos-animate {
    animation: flicker-in-1 3s;
}

.pr_information.aos-animate {
    animation: slide-in-blurred-right 0.5s;
}

.main_data_discribtive_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 600px;
    font-family: 'Star Killers';
}

.skills_heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 3.5rem;
}

/*Skill Structure*/
.Skills_discribtion {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    font-family: Candara Light;
    line-height: 40px;
    word-spacing: 10px;
    font-size: 1.2rem;
    color: #bcd974;

}

.Skills_discribtion h4 {
    display: flex;
}

/*My Own svg*/
.my_svg_main_container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 300px;

}

.my_svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #b4ee21;
    padding: 10px;
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 400px;
}

.my_information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0px;
    font-family: 'SU-30SM', sans-serif;

}

.pr_information {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.8rem;
}

.svg_inner_style {
    display: flex;
    margin: 10px;
    font-family: 'Gravidaz', sans-serif;

}

/*My svg's css ended*/

.skills_icon_heading {
    font-size: 3.5rem;
    margin-bottom: 100px;
    font-family: 'Star Killers';
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.skills_main_iceblock_container {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ====================================================== Introduction Portion Ended ======================================================== */
/* ====================================================== Venn Diagram skill portion started just a graph ===================================== */

#skill_venn {
    width: 50%;
    color: #b4ee21;
}

canvas {
    max-width: 650px;
    max-height: 650px;
}

.canvas_skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 300px;

}

.radar_skill {

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
    width: 100%;
    background-color: #0d0d0e;

}

/* ========================================================== Venn Diagram skill portion ended here ============================================*/
.skill {
    height: 100px;
    width: 100px;
    background-color: aliceblue !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
}

/* ============================================================ Added SPLIDE Library for slider ================================================*/
.splide {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 100px auto;
}

.splide__track,
.splide__list {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 600Px !important;
}

.splide__slide {
    display: flex;
    width: 100%;

}

/* =================================================================Skill Portion For ICEBLOCK structure stylesheets ========================== */
.skill_iceblock_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    width: 1250px;
    margin: 50px;
    max-width: 1920px;

}

/* main global ice block container css */
.skills_ice_block {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 230px;
    width: 230px;
    background-color: #b4ee21;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
    margin: 5px;
}


/* 12 blocks with background + text color maintained */
/* ice block hover effect css */
.skill_block_1 {
    background-color: #c5c3c300;
    /* Transparent lime */
    color: #1A1A1A;

}

.skill_block_1:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}


.skill_block_2 {
    background-color: #1A1A1A;
    color: #FFFFFF;
}

.skill_block_2:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}


.skill_block_3 {
    background-color: #cefb5c;
    color: #1A1A1A;
}

.skill_block_3:hover {
    box-shadow: rgb(18, 18, 17) 0px 0px 0px 5px;
    border-radius: 5px;
}


.skill_block_4 {
    background-color: #7171711a;
    color: #1A1A1A;
}

.skill_block_4:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}

.skill_block_5 {
    background-color: #202020;
    color: #FFFFFF;
}

.skill_block_5:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}

.skill_block_6 {
    background-color: #a9cc4f;
    color: #121212;
}

.skill_block_6:hover {
    box-shadow: rgba(18, 18, 17, 0.242) 0px 0px 0px 5px;
    border-radius: 5px;
}

.skill_block_7 {
    background-color: #151414;
    color: #F5F5F5;
}

.skill_block_7:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}

.skill_block_8 {
    background-color: #b7ff00;
    color: #0F0F0F;
}

.skill_block_8:hover {
    box-shadow: rgba(18, 18, 17, 0.242) 0px 0px 0px 5px;
    border-radius: 5px;
}

.skill_block_9 {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.skill_block_9:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}

.skill_block_10 {
    background-color: #101010;
    color: #F0F0F0;
}

.skill_block_10:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}

.skill_block_11 {
    background-color: #c4f742;
    color: #111111;
}

.skill_block_11:hover {
    box-shadow: rgba(18, 18, 17, 0.242) 0px 0px 0px 5px;
    border-radius: 5px;
}

.skill_block_12 {
    background-color: #272626;
    color: #FFFFFF;
}

.skill_block_12:hover {
    box-shadow: rgb(83, 81, 49) 0px 0px 0px 2px;
    border-radius: 5px;
}

#skill_html,
#skill_python {
    display: none;
}

.skill_block_ani {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hidden_skill_block {
    display: none;
    justify-content: center;
    flex-direction: row;

}

.hidden_skill_block svg {
    display: flex;
    width: 100%;
    height: 100%;
}

.hidden_skill_block_python,
.hidden_skill_block_js,
.hidden_skill_block_c,
.hidden_skill_block_java,
.hidden_skill_block_css,
.hidden_skill_block_git_bash,
.hidden_skill_block_dsa,
.hidden_skill_block_come_9,
.hidden_skill_block_come_10,
.hidden_skill_block_come_11,
.hidden_skill_block_cplusepluse {
    display: none;
    /* You might also have other properties here like opacity: 0;
       and transitions for smooth animation. */
}

.loading_svg_block_1,
.loading_svg_block_2,
.loading_svg_block_3,
.loading_svg_block_4,
.loading_svg_block_5,
.loading_svg_block_6,
.loading_svg_block_7,
.loading_svg_block_8,
.loading_svg_block_12 {
    display: none;

}

.loader_svg_ice_block {
    justify-content: center;
    align-items: center;
}

/* ================================================= Skill Block portion ended =============================================================== */
/* ================================================== Photography container started ============================================================*/

/*Tumbnail image/ photograph*/
.main_photography_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 200px;
}

.photo_img_layer_2 {
    position: relative;
    /* IMPORTANT */
    width: 100%;
    max-width: 1200px;
    border-radius: 50px;
    overflow: hidden;
    /* To keep border-radius on overlay */
    background-color: #0d0d0e1d;
    box-shadow: 10px 10px 500px 10px rgb(60, 52, 42);
}

.photo_img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50px;
}

.photo_img_layer_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.526);
    /* Black Overlay */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.ph_major_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Star Killers';
    font-size: 4.5rem;
    margin-left: 0px;
}

.ph_minor_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Espacio Novo Medium', sans-serif;
    color: aliceblue;
    margin-bottom: 50px;
}

/* ======================================================== Main Container thumbnail was ended here ========================================== */
/* ===============================================Photography  container and element's css starts =================================================*/
.photography_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.Photography_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 100px;
    flex-wrap: nowrap;
    margin-top: 100px;
    font-family: 'Espacio Novo Medium', sans-serif;
    word-spacing: 10px;
    color: aliceblue;
    font-size: 1.5rem;
    flex-direction: column;
}

.photograph_main_header {
    display: flex;
    font-size: 2.5rem;
}

.photography_trailer {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    align-items: center;
    margin: 50px 110px 110px 110px;
    flex-wrap: nowrap;
}

.photo_fream {
    display: flex;
    height: 100%;

}

.fream_block {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    flex-wrap: nowrap;
    border-radius: 50px;
    background-color: rgba(46, 46, 46, 0.25);
    box-shadow: 10px 10px 500px 10px rgb(46, 46, 46);

}

.fream_block img {
    border-radius: 50px;
}

fream_block_2 {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 500px;
    margin: 10px;
    flex-wrap: nowrap;
    align-items: center;
}

.fream_block_2 img {
    border-radius: 50px;
}

.fream_block_3 {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 20px;
    flex-wrap: nowrap;
    align-items: center;

}

.fream_block_3 img {
    border-radius: 50px;

}

/* ============================================================ MAin Fram section ended here ==================================================*/
/* ================================================================= Project Section ========================================================*/
.project_section {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Espacio Novo Medium', sans-serif;
    color: aliceblue;
    margin-top: 200px;
    margin-bottom: 200px;
}

.project_header {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Espacio Novo Medium', sans-serif;
    font-size: 2.5rem;
}

.project_container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
}

.project_slide {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border-radius: 50px;
    border: 1px solid #c4f742;
    padding: 10px;
}

/* ===================================================== Project Section Was Endede Here ====================================================== */
.quote_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Espacio Novo Medium', sans-serif;
    color: aliceblue;
    margin-top: 100px;
    margin-bottom: 50px;
}

.quote_section_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.final_quote_section {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Espacio Novo Medium', sans-serif;
    color: aliceblue;

}

/* ======================================================== Final Cta And Buttons are here ================================================== */
.final_cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Espacio Novo Medium', sans-serif;
    color: aliceblue;
    margin-top: 250px;
    font-size: 1.5rem;

}

.cta_main_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 10px solid;
    border-color: rgb(226, 139, 52);
    box-shadow: 10px 10px 100px 5px rgba(234, 149, 45, 0.514);

}

.cta_input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 55px;
    border-radius: 50px;
    padding: 5px 5px 5px 20px;
    background-color: #21272b;
    border: 1px solid rgb(225, 139, 47);
    color: rgb(209, 146, 123);
    font-size: 1rem;
    box-shadow: 10px 10px 100px 15px rgba(114, 83, 45, 0.636);
}

.final_cta_button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.cta_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    margin-top: 50px;
}

.freedBackMainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    background-color: #484f5404;
    flex-direction: column;
}


.freedBackEmoji {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    width: 30%;
}
.freedBackHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.freedBackHeader h1{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: Candara Light;
}
.freedBackPannel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.freedBackPannelHeader {
    display: flex;
    justify-content: center;
    margin: 100px;
    width: 100%;
}

.freedBackPannelHeader h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: Candara Light;
}

.freedBackMainInput {
    display: flex;
    width: 100%;
    justify-content: flex-start ;
    align-items: center;
    flex-direction: row;
    
}

.freedBackPannelInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.freedBackPannelInput textarea {
    width: 100%;
    max-width: 800px;
    height: 100px;
    padding: 15px 20px;
    border-radius: 12px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    color: #f9f9f9;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    resize: vertical;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.freedBackPannelInput textarea:focus {
    outline: none;
    resize: none;
    border: 1px solid #95fa5a;
    box-shadow: 0 0 4px #bdfa5a;    
}

.inputOverLapclassFreed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: none;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.4);
}
.inputOverLapclassFreed button:hover{
    
    box-shadow: 0 4px 8px rgba(231, 228, 228, 0.4);
}
/* ============================================================= CTA ended Here ============================================================ */
/* ==================================================================== Lines Section Started ================================================= */
.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Espacio Novo Medium', sans-serif;
    color: aliceblue;
    font-size: 0.7rem;
    margin-bottom: 100px;
}

.lines_thanks {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Espacio Novo Medium', sans-serif;
    color: aliceblue;
    margin-top: 200px;
    margin-bottom: 100px;
}

/* ================================================================== Footer And Ending Portion of section are there =================================*/
.footer_main_container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Espacio Novo Medium', sans-serif, benc;
    color: rgb(166, 170, 172);
    background-color: #000000;
    padding: 20px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}